@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

a {
  @apply text-chew-200 hover:text-white transition-colors;
}
